@{
    ViewBag.Title = "Avaleht";
}



<div class="jumbotron">
    <div class="container">
        <img src="~/Pictures/pilt.jpg"  alt=" hspace="0" class="pull-right"  width="580" height="318"/>

        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">            
            <div class="container">
                <div class="panel panel-default col-sm-12">
                    <div class="panel-body">
                        Basic panel example
                    </div>
                </div>
                <h3></h3>
                <p>Akadeemiline vabadus sattus juba sellega löögi alla, kui tulid grandirahad. See tähendab, et teadlane peab lubama „mõistlikke” asju. Sa pead ajama „mõistlikku” juttu. Sa ei saa rahastajatele öelda, et ma olen loll, ma ei taipa sest midagi, aga ma tegelen asjaga. Tuleb hoopis rääkida, kui palju ma tean ja mis tutvused mul on, siis oled õige mees. </p>
                
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <div class="caption">
                <div class="panel panel-default col-sm-12">
                <div class="panel-body">
                    Basic panel example
                </div>
            </div>
                <h3></h3>
                <p>Akadeemiline vabadus sattus juba sellega löögi alla, kui tulid grandirahad. See tähendab, et teadlane peab lubama „mõistlikke” asju. Sa pead ajama „mõistlikku” juttu. Sa ei saa rahastajatele öelda, et ma olen loll, ma ei taipa sest midagi, aga ma tegelen asjaga. Tuleb hoopis rääkida, kui palju ma tean ja mis tutvused mul on, siis oled õige mees. </p>
            </div>
        </div>
    </div>
</div>

