@{
    ViewBag.Title = "Üritused";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<html>
<head>
    <title>My Awesome Site</title>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
